# config file with serials
config.ini

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local config
config.ini
